*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body{
height: 100%;
width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.menu{
    display: flex;
    gap: 10px;
}